<div class="container">
    <div class="row justify-content-center marginTop">
        <div class="col-12">
            <h5>About me and project</h5>
        </div>
    </div>
    <div class="about">
        <div class="row">
            <div class="col-md-3 justify-content-center">
                <img class="img" src="../../assets/photo.png">
            </div>
            <div class="col-md-9 justify-content-center">
                <span>  
                    Hi, my name is Andreia. :) <br>
                    I'm 24 years old, graduated in Design (2017). I have experience in print, digital design and front-end developing (js, angularJS, angular, jquery).  
                    I'm working currently in Accenture using angular 2+/bootstrap/git with focus in finance area. I'm doing this project using angular 2+, bootstrap and Clash Of Clans API.
                </span>
                <div class="row displayblock margin10">
                    <a href="https://www.behance.net/user/?username=bonomias"><img class="imgBehance" src="../../assets/behance.png" ></a>
                    <a href="https://www.linkedin.com/in/andreiabonomi/"><img src="../../assets/linkedin.svg" ></a>
                </div>
            </div>
        </div>
    </div>
</div>
