img {
    width: 4em;
    height: 3em;
    margin-left: 1em;
}

.container {
    padding: 35px;
}

.table {
    background-color: white !important;
}

.padding-10 {
    background-color: white;
    border-radius: 25px;
    padding: 3%;
    box-shadow: 1px solid black;
    box-shadow: 0.6em 0.3em 1.5em #7485a2;
}

.textBrazil {
    color: #00cb52;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2 {
    padding-top: 15px;
}

.top20 {
    margin-top: 20px;
}


@media only screen and (max-width: 768px) {
    .padding-10 {
        padding: 0%;
    }


}