.small {
    width: 50%;
}

.padding15 {
    padding-top: 15px;
}

.text-center {
    text-align: center;
}

.table {
    background-color: white !important;
}

.padding-10 {
    background-color: white;
    border-radius: 25px;
    padding: 3%;
    box-shadow: 1px solid black;
    box-shadow: 0.6em 0.3em 1.5em #7485a2;
}
@media only screen and (max-width: 768px) {
    .padding-10 {
        border-radius: 0;
    }
}