<div class="header">
  <div class="container">
    <div class="text">
      <h1>
      CoC Brazil
      </h1>
      <h4>Brazillian blog about Clash Of Clans!</h4>
      <div class="row">
        <div class="container">
          <div class="menu"><a routerLink="/geral">News</a></div>
          <div class="menu"><a routerLink="/ranking">Ranking Brazil</a></div>
          <div class="menu"><a routerLink="/aboutme">About</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet>
</router-outlet>