.img {
    width: 50%;
    box-shadow: 0.6em 0.3em 0.5em #738bb5;
    background-color: #005eff;
    border-radius: 83px;
    margin-top: 10px;
}

.padding10 {
    padding: 30px;
}

.padding20 {
    padding: 20px;
}

.img-width {
    width:70%;
}

.news {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0.6em 0.3em 1.5em #7485a2;
}

@media only screen and (max-width: 768px) {
    .img-width {
        width: 190px;
        margin-top: 10px;
    }

    .col-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .news {
        border-radius: 0;
    }


}