
<div class="container">
    <div class="row justify-content-center">
        <img class="img" src="../../assets/coc.logo.png">
    </div>
    <div class="padding10">
        <div class="row">
            <div class="col-12">
                <h2>News</h2>
            </div>
        </div>
        <div class="news">
            <div class="container">
                <div class="padding20">
                    <div *ngFor="let text of texts">
                        <div class="row">
                            <div class="col-12">
                                <h5>{{ text.title }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                            <span>{{ text.decription }}</span>
                            </div>
                            <div class="col-5">
                                <img class="img-width" src="{{ text.image }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>